@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #000814;
    color: White;
}
/* html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  } */

.homebg{
    background-image: url("./assets//Logo/background.svg");
}

.your_element {
  display: none; /* Hidden for small screens */
}

/* Show on large screens and above (1024px and above) */
@media (min-width: 1024px) {
  .your_element {
      display: block; /* Show on larger screens */
  }
}
.our_element {
  display: block; /* Hidden for small screens */
}

/* Show on large screens and above (1024px and above) */
@media (min-width: 1024px) {
  .our_element {
      display: none; /* Show on larger screens */
  }
}
.flex_element {
  display: none; /* Hidden for small screens */
}

/* Show on large screens and above (1024px and above) */
@media (min-width: 1024px) {
  .flex_element {
      display: flex; /* Show on larger screens */
  }
}
